
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
.about{
    background-color: #ffffff;
    overflow: hidden;
    /* margin-top: 800px; */
    
    
}
.heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    
}






.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
/* 
.a-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
} */
.about-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px ;
    animation: fadeInUp 2s ease;
}
.about-content h3{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.about-content .para{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
    background-color: #ffffff;
    position: relative;
}
.about-content .para:hover{
    
    overflow: hidden; /* Important for animation */
    animation: cover 2s ease forwards; /* Adjust duration as needed */
    
    border-radius: 5px;
}
@keyframes cover {
    0% {
      background-color: #f8f8f8; /* Initial color */
    }
    100% {
      background-color: #b9d4f2;  /* Final color for first paragraph */
    }
  }
  
/* .about-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px ;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
} */
/* .about-content button:hover{
    background-color: #ff6347;
    transform:scale(1.1);
} */
.about-image{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
img{
    width: 100%;
    border-radius: 10px;
    height: auto;
}
@media screen and (max-width:768px){
   .heading h1{
    font-size: 45px;
    margin-top: 30px;
   } 
   .about{
    margin: 0;
   }
   .container{
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0px 40px;
   }
   .about-content{
    width: 100%;
    margin: 35px 0px;
   }
   .about-content h2{
    font-size: 30px;
   }
   .about-content p{
    font-size: 18px;
    margin-bottom: 20px;
   }
   /* .about-content button{
    font-size: 16px;
    padding: 8px 16px;
   } */
   .about-image{
    width: 100%;
   }
}
@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



